header {
    background: #FFA500;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    /* 이미지 슬라이더랑 겹치지 않게 큰 정수 넣기 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

/* aboutme */

body {

    padding: 0 16px;
    margin: 0;
}

html {
    /* 자간? */
    height: 200%;
    line-height: 1.6;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    /* 메뉴바 마우스 올렸을떄 색상 다르게 꾸미기 */
    color: beige;
}

.intext {
    margin: 0px 100px 50px 100px;
    text-align: center;
}

.intext h2 {
    font-style: italic;
    font-size: 18px
}

/* like */


#likecategory h1 {
    text-align: center;
    margin: 50px;

}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.like {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.like_img {
    max-width: 300px;
    display: inline;
    border-radius: 70%;
    overflow: hidden;
}

/*폰트 수정*/
.like_text1 .like_text2 .like_text3 {
    margin-top: 30px;
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.like p {
    font-size: 20px;
    line-height: 3;
}


.like p:hover::before {
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

/* 마우스 올려놓았을때 폰트 안보이게 함*/
.like p:hover {
    font-size: 0;
}

.like #like_text1:hover:before {
    content: '자연을 보고 느끼는 여행';
}

.like #like_text2:hover:before {
    content: '달지 않은 디저트를 찾아서';
}

.like #like_text3:hover:before {
    content: '운동을 통한 활력 증진';
}

/* 이미지 슬라이더 */
.slider {
    width: 480px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}

.slider input[type=radio] {
    display: none;
}

ul.imgs {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.imgs li {
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}

.bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4) {
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
}